.header-main {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.header {
  background-color: #ccc;

  width: 100%;
  flex-flow: row nowrap;
  padding-right: 15px;
}

.header-logo img {
  padding-left: 15px;
  width: 167px;
  height: 62px;
}

.header-slogan {
  padding-right: 15px;
}
