.header-main {
  display: flex;
  height: 90px;
}

.header {
  display: flex;
  /* background-color: #ccc; */
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-flow: row nowrap;
  padding-right: 15px;
}

.header-logo img {
  object-fit: cover;
  margin-left: 220px;
  width: 167px;
  height: 62px;
}

.header-slogan {
  margin-right: 220px;
  font-size: 24px;
}

.header-slogan strong {
  text-direction: none;
  font-weight: bolder;
  text-transform: uppercase;
}

/* hero */

.hero {
  cursor: pointer;
  padding: 0 0 30px 0;
}

.hero-img img {
  width: 100%;
  height: 460px;
  position: relative;
  object-fit: cover;
}

.hero-circle {
  top: 42%;
  position: absolute;
}

.hero-circle i {
  color: #ccc;
  font-size: 36px;
}

.hero-circle i:hover {
  transition: color 0.3s ease, background-color 0.3s ease;
  color: #dd3333;
}

.hero-circle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.circle-left {
  margin-left: 30px;
}

.circle-right {
  margin-right: 30px;
  width: 36px;
  height: 36px;
}

/* section */
.section {
  width: 1050px;
  margin-left: 15%;
}

.section-title {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.section-title b {
  display: block;
  -ms-flex: 1;
  flex: 1;
  height: 2px;
  opacity: 0.1;
  background-color: currentColor;
}

.section-title-main {
  margin: 0 15px;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
}

.row {
}

.section-gird {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-rows: auto auto;
}

.grid-item img {
  width: 330px; /* Làm cho ảnh rộng bằng 100% chiều rộng của ô chứa */
  height: 210px; /* Giữ tỉ lệ ảnh */
  object-fit: cover;
  max-width: 100%; /* Đảm bảo ảnh không vượt quá kích thước của ô */
}

.btn {
  margin-top: 10px; /* Khoảng cách giữa ảnh và button */
  padding: 10px 20px;
  background-color: #c42e2b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #a02626;
}

/* featured */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
}

.featured .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  color: #000339;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #5a6473;
}

.featured .link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: #0689ff;
}

.featured .link .arrow {
  margin-left: 8px;
}

.featured .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background: #fff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  /* object-fit: cover; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 24px;
}

.featured .item .title a {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: #000339;
}

.featured .item .desc {
  --line-clamp: 3;
  /*  --line-clamp: 3; */
  margin-top: 11px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #a3a6ab;
  word-break: break-all;
  /* word-break: break-all; */
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

.featured .item .label {
  margin-left: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.01em;
  color: #4d4d52;
}
