.header-main {
  display: flex;
  height: 90px;
}

.header {
  display: flex;
  /* background-color: #ccc; */
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-flow: row nowrap;
  padding-right: 15px;
}

.header-logo img {
  object-fit: cover;
  margin-left: 220px;
  width: 167px;
  height: 62px;
}

.header-slogan {
  margin-right: 220px;
  font-size: 24px;
}

.header-slogan strong {
  text-direction: none;
  font-weight: bolder;
  text-transform: uppercase;
}

/* hero */

.hero {
  cursor: pointer;
}

.hero-img img {
  width: 100%;
  height: 460px;
  position: relative;
  object-fit: cover;
}

.hero-circle {
  top: 42%;
  position: absolute;
}

.hero-circle i {
  font-size: 36px;
  border: 1px solid #ccc;
}

.hero-circle:hover i {
  color: #dd3333;
}

.hero-circle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.circle-left {
  margin-left: 30px;
}

.circle-right {
  margin-right: 30px;
  width: 36px;
  height: 36px;
}
