.header-main {
  display: flex;
  height: 90px;
}

.header {
  display: flex;
  /* background-color: #ccc; */
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-flow: row nowrap;
  padding-right: 15px;
}

.header-logo img {
  object-fit: cover;
  margin-left: 220px;
  width: 167px;
  height: 62px;
}

.header-slogan {
  margin-right: 220px;
  font-size: 24px;
}

.header-slogan strong {
  text-direction: none;
  font-weight: bolder;
  text-transform: uppercase;
}

/* hero */

.hero {
  cursor: pointer;
  padding: 0 0 30px 0;
}

.hero-img img {
  width: 100%;
  height: 460px;
  position: relative;
  object-fit: cover;
}

.hero-circle {
  top: 42%;
  position: absolute;
}

.hero-circle i {
  color: #fff;
  font-size: 36px;
}

.hero-circle i:hover {
  transition: color 0.3s ease, background-color 0.3s ease;
  color: #dd3333;
}

.hero-circle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.circle-left {
  margin-left: 30px;
}

.circle-right {
  margin-right: 30px;
  width: 36px;
  height: 36px;
}

/* section */
.section {
  width: 1050px;
  margin-left: 15%;
}

.section-title {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 40px;
}

.section-title b {
  display: block;
  -ms-flex: 1;
  flex: 1;
  height: 2px;
  opacity: 0.1;
  background-color: currentColor;
}

.section-title-main {
  margin: 0 15px;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
}

.row {
}

.section-gird {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-rows: auto auto;
  padding-bottom: 85px;
}

.grid-item img {
  width: 338px;
  height: 210px;
  object-fit: cover;
  max-width: 100%;
}

.grid-item:hover {
  transform: scale(1.1);
}

.btn {
  margin-top: 10px; /* Khoảng cách giữa ảnh và button */
  padding: 10px 20px;
  background-color: #c42e2b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #a02626;
}

.section-box {
  transform: translateY(-3px);
  background-color: rgb(140, 31, 31);
  padding: 15px 15px 20px;
}

.section-box:hover {
}

.box-item-inner {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-left: 18px;
}

/* Features */

.features .body {
  display: flex;
  padding-left: 12%;
}

.features .images {
  display: flex;
  gap: 0 30px;
}

.features .images img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features img.lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.features .content .cta-btn {
  margin-top: 32px;
  min-width: 137px;
  color: #fff;
  background: var(--primary-color);
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
}

.heading_content {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
}

.desc-tsc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #000;
  font-weight: 600;
}

.desc-tsc i {
  color: red;
}
