.header-main {
  display: block;
}

.header {
  display: flex;
  height: 90px;
  background-color: #ccc;
  justify-content: space-between;
  width: 100%;
}

.header-logo img {
  width: 167px;
  height: 63px;
}
